---
import { t } from "i18next"
import { Trans } from 'astro-i18next/components'

import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon'

import Layout from '../layouts/Layout.astro';
import WorkEntry from '../components/WorkEntry.astro';
import Link from '../components/Link.astro';

import yo from '../assets/yo.jpg'

import { socials } from '../utils/link'

---

<Layout>
	<nav class="flex flex-col items-center gap-4 bg-slate-200 py-4 pb-0">
    <div class="flex flex-col flex-1 items-center gap-4">
			<Image 
				src={yo} 
				format="webp"
				width={200} 
				height={200}
				fit='cover'
				class='m-0 rounded-lg'
				alt="Esteban Primost" 
			/>
			<div class='flex flex-col items-start'>
      	<h2 class='my-0'>Esteban Primost</h2>
			</div>
    </div>
    <div class='flex gap-3'>
			{
				socials.filter(social => social.active).map(social => (
					<Link href={social.href} title={social.linkTitle}>
						<Icon name={social.icon} class='w-6 h-6' />
					</Link>
				))
			}
		</div>
  </nav>

  <hr class="my-8" />
  
	<h1>{t('home.welcome')}</h1>
	<p>{t('home.about_me_1')} <Link href='https://g.co/kgs/NJVZGZ' title='Urdinarrain, Entre Ríos, Argentina'>Urdinarrain, Entre Ríos, Argentina</Link>.
  <p>{t('home.about_me_2')}</p>
  <p>{t('home.about_me_3')}</p>

	<h2>{t('home.works_and_projects')}</h2>
	<WorkEntry
		title='GEUT'
		subtitle={`2018 | ${t('common.present')}`}
		link='https://geutstudio.com'
	>
		{t('work.geut')}
		<Link href='https://discover.sher.app' title='Sher'>Sher</Link>{t('common.and')} 
		<Link href='https://github.com/geut/permanent-seeder' title='Permanent Seeder'>Permanent Seeder</Link>.
	</WorkEntry>
	
	<WorkEntry
		title='Sher'
		subtitle={`2019 | ${t('common.present')}`}
		link='https://discover.sher.app'
		tags={[
			"Javascript",
			"NodeJS",
			"PostgreSQL",
			"Graphql",
			"React",
			"Fastify",
			"Apollo",
			"Hypercore",
  	]}
	>
			{t('work.sher')}<Link href='https://geutstudio.com' title='GEUT'>GEUT</Link>{t('work.sher_1')}
	</WorkEntry>

	<WorkEntry
		title='Sinaptia'
		subtitle='2022 | 2023'
		link='https://sinaptia.dev/'
		tags={[
			"Javascript",
			"NodeJS",
			"Graphql",
			"AWS",
			"SST",
			"React"
  	]}
	>
		{t('work.sinaptia')}
		<Link href='https://geutstudio.com' title='GEUT'>GEUT</Link>
		{t('work.sinaptia_1')}
		<Link href='https://sinaptia.dev/' title='Sinaptia'>Sinaptia</Link>
		{t('work.sinaptia_2')}
		<Link href='https://mekanoid.io/' title='Mekanoid'>Mekanoid</Link>
		{t('work.sinaptia_3')}
		</WorkEntry>

	<WorkEntry
		title='Wireline'
		subtitle='2018 | 2020'
		link='https://github.com/wirelineio'
		tags={[
			"Javascript",
			"NodeJS",
			"CRDT",
			"Yjs",
			"React"
  	]}
	>
		{t('work.wireline')}
		<Link href="https://dxos.org/" title='DXOS'>DXOS</Link>
		{t('work.wireline_1')}
	</WorkEntry>
	
	<WorkEntry
		title='Ingenious'
		subtitle='2017 | 2018'
		link='https://ingenious.agency/'
		tags={[
			"Javascript",
			"NodeJS",
			".NET",
			"Neo4j",
			"React",
			"React Native",
			"WebRTC"
  	]}
	>
		{t('work.ingenious')}
		<br/>
		{t('work.ingenious_1')}
		<br/>
		{t('work.ingenious_2')}
		<br/>
		{t('work.ingenious_3')}
	</WorkEntry>
	
	<WorkEntry
		title='Subsecretaría de Innovación y experiencia ciudadana'
		link="https://www.gba.gob.ar/gobiernodigital/funciones_y_direcciones"
		subtitle='2016 | 2017'
		tags={[
			"Javascript",
			"NodeJS",
			"PHP",
			"React",
			"Laravel",
  	]}
	>
		{t('work.subsecretaria')}
	</WorkEntry>

	<WorkEntry
		title='Language Trainers'
		link='https://www.languagetrainers.com/'
		subtitle='2015 | 2016'
		tags={[
			"Javascript",
			"PHP",
			"Laravel",
			"MySQL"
  	]}
	>
		{t('work.language_trainers')}
	</WorkEntry>
	
	<WorkEntry
		title='Unidad Ejecutora Provincial'
		subtitle='2012 | 2014'
		tags={[
			"Javascript",
			"PHP",
			"Laravel",
			"SQL Server"
  	]}
	>
		{t('work.uep')}
	</WorkEntry>
	
	<WorkEntry
		title='RPSolutions'
		subtitle='2011 | 2014'
		tags={[
			"Android",
			"Javascript",
			"PHP",
			"Laravel",
			"Symfony",
			"CodeIgniter"
  	]}
	>
		{t('work.rpsolutions')}
	</WorkEntry>
	
	<WorkEntry
		title='Universidad Católica de La Plata'
		link='https://www.ucalp.edu.ar/'
		subtitle='2010 | 2011'
		tags={[
			"Javascript",
			"PHP",
			"SQL Server"
  	]}
	>
		{t('work.ucalp')}
	</WorkEntry>
	
	<WorkEntry
		title='VMN+'
		link="#"
		subtitle='2009 | 2010'
		tags={[
			"OpenLaszlo",
			"Adobe Flex",
			"PHP"
  	]}
	>
		{t('work.vmn')}
	</WorkEntry>

	<WorkEntry
		title='AM Soluciones'
		link="https://amsolucionesweb.com/"
		subtitle='2009'
		tags={[
			"PHP",
			"Drupal"
  	]}
	>
		{t('work.am')}
	</WorkEntry>
	
	<WorkEntry
		title='Universidad Nacional de La Plata - Facultad de Informática'
		link='https://www.info.unlp.edu.ar/'
		subtitle='2006 | 2007'
	>
		{t('work.unlp')}
	</WorkEntry>

	<hr class="my-8" />

	<div class="pb-4 flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-0">
		<h3 class="my-0">Esteban Primost</h3>
		<div class='flex gap-3'>
			{
				socials.filter(social => social.active).map(social => (
					<Link href={social.href} title={social.linkTitle}>
						<Icon name={social.icon} class='w-6 h-6' />
					</Link>
				))
			}
		</div>
	</div>
</Layout>
