---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import { t } from "i18next";

import yo from "../assets/yo.jpg";

import Link from "../components/Link.astro";

import { linkTargets, slugify, socials } from "../utils/link";
---

<nav class="flex flex-col items-center gap-4 bg-slate-200 pb-0">
  <div class="flex flex-col flex-1 items-center gap-4">
    <Image
      src={yo}
      format="webp"
      width={200}
      height={200}
      fit="cover"
      class="m-0 rounded-lg"
      alt="Esteban Primost"
    />
    <div class="flex flex-col items-start">
      <h2 class="my-0">Esteban Primost</h2>
    </div>
  </div>
  <div class="flex gap-3">
    {
      socials
        .filter((social) => social.active)
        .map((social) => (
          <Link
            href={`${social.href}${
              social.name === "Mail"
                ? `?subject=${t("common.mail_subject")}&body=${t(
                    "common.mail_body"
                  )}`
                : ""
            }`}
            title={social.linkTitle}
          >
            <Icon name={social.icon} class="w-6 h-6" />
          </Link>
        ))
    }
  </div>
</nav>

<hr class="my-8 mb-4" />

<h1 id={slugify(t("home.welcome"))}>{t("home.welcome")}</h1>

<p class="hyphens-auto">
  {t("home.about_me_1")}
  <Link
    href="https://g.co/kgs/NJVZGZ"
    title="Urdinarrain, Entre Ríos, Argentina"
  >
    Urdinarrain, Entre Ríos, Argentina.
  </Link>
</p>
<p class="hyphens-auto">
  {t("home.about_me_2")}
  <Link href={linkTargets["Javascript"]} title="Javascript">Javascript</Link>
  {t("home.about_me_3")}
  <Link href={linkTargets["Node.js"]} title="Node.js">Node.js</Link>
  {t("common.and")}
  <Link href={linkTargets.React} title="React">React</Link>
  {t("home.about_me_4")}
</p>
<p class="hyphens-auto">
  {t("home.about_me_5")}
</p>

<div class="flex text-sm gap-4 mt-8">
  <Link
    href={`Esteban Primost.pdf`}
    title={t("common.download")}
    className="hover:no-underline bg-skin-accent py-2 px-4 rounded-md text-skin-inverted"
  >
    {t("common.download")}
  </Link>
  <Link
    href={`${socials[0].href}?subject=${t("common.mail_subject")}&body=${t(
      "common.mail_body"
    )}`}
    title={t("common.contact_me")}
    className="hover:no-underline bg-skin-accent py-2 px-4 rounded-md text-skin-inverted"
  >
    {t("common.contact_me")}
  </Link>
</div>
