---
export interface Props {
  href?: string,
  title?: string,
  target?: string,
  element?: any,
  className?: string
}

const { href, title = href, target = '_blank', element: Element = 'span', className = '' } = Astro.props
---

{
  href
    ? (
    <a
      href={href}
      title={title}
      target={target}
      rel="nofollow noopener" 
      class={`inline font-medium text-skin-accent no-underline hover:decoration-dashed hover:underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0 hyphens-auto`}
    >
    <Element class={`decoration-dashed text-skin-accent font-medium hover:underline ${className}`}><slot /></Element>
  </a>
  )
  : (
    <Element class={`text-skin-accent font-medium ${className}`}>
      <slot />
    </Element>
  )
}

