---
import { Icon } from 'astro-icon'

import Tag from './Tag.astro'
import Link from './Link.astro'


export interface Props {
	title: string;
	subtitle?: string;
  link?: string;
  tags?: string[];
}

const { title, subtitle, link, tags = [] } = Astro.props;
---

<div class='mb-8'>
  <Link
    href={link}
    title={title}
    element='h3'
    className='mt-2'
  >
    {title}
  </Link>

  <p class='mt-0 mb-2'>
    <slot /><br/>
    <span class="opacity-80 mt-2 inline-block">
      <Icon name='tabler:calendar' className='inline-block align-middle w-5 mr-2' />
      <span class={`text-sm`}>{subtitle}</span>
    </span>
    {
      tags.length > 0 && (
        <span class="opacity-80 inline-block">
          <Icon name='tabler:rocket' className='inline-block align-middle w-5 mr-2' />
          {
            tags.map(tag => <><Tag name={tag} />&nbsp;</>)
          }
        </span>
      )
    }
  </p>
</div>

